body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'MonteCarlo', cursive;
  /* font-family: 'Poppins', sans-serif; */
}
img {
  max-width: 1300px;
}
