body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'MonteCarlo', cursive;
  background-color: rgb(207, 191, 146);
}
img {
  max-width: 1300px;
  position: fixed;
  z-index: -2;
}
.page {
  z-index: -1;
  background-image: url(/assets/paper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 9px;
  margin-left: 26px;
  height: 660px;
  width: 530px;
  -webkit-transform: rotate(5.6deg);
  -ms-transform: rotate(5.6deg);
  transform: rotate(5.6deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: inset 0 0 30px #000000;
  box-shadow: inset 0 0 30px #000000;
}
h1 {
  font-size: 102px;
}
.active-time {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 80px;
  width: 400px;
  margin-left: 30px;
}
span {
  padding: 0 10px;
}
.button-container {
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgba(167, 170, 172, 100%);
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(154, 158, 161);
}
